Accessibility/1_land_use_cadastral_references/buildings_with_section/
Accessibility/1_land_use_cadastral_references/locales_donostia/
Accessibility/1_land_use_cadastral_references/sections_gipuzkoa/
Accessibility/1_land_use_cadastral_references/analisis_x_referencia.csv
Accessibility/1_land_use_cadastral_references/data_towns.xlsx
Accessibility/1_land_use_cadastral_references/referencias_catastrales_usos.csv

Accessibility/2_assign_latlong_to_establishments/aux_files/
Accessibility/2_assign_latlong_to_establishments/SHP/
Accessibility/2_assign_latlong_to_establishments/df_establishments_latlong.xlsx
Accessibility/2_assign_latlong_to_establishments/df_establishments_latlong.csv
Accessibility/2_assign_latlong_to_establishments/mapa_con_circulos.html
Accessibility/2_assign_latlong_to_establishments/raw_data.xlsx
Accessibility/2_assign_latlong_to_establishments/town_coordinates.xlsx

Accessibility/3_assign_population_and_workers_to_cadastral_references/buildings_with_section/
Accessibility/3_assign_population_and_workers_to_cadastral_references/rc_pop_workers/
Accessibility/3_assign_population_and_workers_to_cadastral_references/colors.html
Accessibility/3_assign_population_and_workers_to_cadastral_references/colors_secciones.html
Accessibility/3_assign_population_and_workers_to_cadastral_references/rc_pop_workers.csv
Accessibility/3_assign_population_and_workers_to_cadastral_references/sections_gipuzkoa_demographic_both.geojson

Accessibility/raw_data
