accessibility/assign_land_use_to_cadastral_references/input_data/
accessibility/assign_land_use_to_cadastral_references/output_data/

accessibility/assign_latlong_to_establishments/input_data/
accessibility/assign_latlong_to_establishments/output_data/

accessibility/assign_population_and_workers_to_cadastral_references/input_data/
accessibility/assign_population_and_workers_to_cadastral_references/output_data/

mitma_analysis/input_data/
mitma_analysis/output_data/